<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="/css/charSheetStyle.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Character Sheet</title>
</head>

<body class="body" style="margin-left: 20px">

<form method="POST" action="/char/edit">

    <input type="hidden" name="charId" value="<%=character[0].charId%>">
    <input type="hidden" name="userId" value="<%=character[0].userId%>">
    <input type="hidden" name="classId" id="classId" value="<%=character[0].classId%>">
    <input type="hidden" name="raceId" id="raceId" value="<%=character[0].raceId%>">
    <input type="hidden" name="genderId" id="genderId" value="<%=character[0].gender.toLowerCase()%>">

    <h1>Character Sheet</h1>
    <br>
    <div id="details">
        <div class="detail" >
            <input type="text" id="charName" name="charName" value="<%=character[0].charName%>"><br>
            <sup> Name</sup>
        </div>

        <div class="detail" >
            <select name="class" id="class">
                <% charClass.forEach(charClass => { %>
                    <option value="<%=charClass.classId%>"
                            data-classHD="<%=charClass.hitDie%>"
                            data-classSaves="<%=charClass.saves%>"
                            data-classPrimAbi="<%=charClass.primaryAbility%>"
                            data-classDesc="<%=charClass.class_description%>"
                            data-classSaves="<%=charClass.saves%>">
                        <%=charClass.class_name%> </option>
                <% }); %>
            </select><br>
            <sup> Class</sup>
        </div>

        <div class="detail" >
            <select name="race" id="race">
                <% race.forEach(race => { %>
                    <option value="<%=race.raceId%>"
                            data-strRace="<%=race.race_strength%>"
                            data-dexRace="<%=race.race_dexterity%>"
                            data-conRace="<%=race.race_constitution%>"
                            data-intRace="<%=race.race_intelligence%>"
                            data-wisRace="<%=race.race_wisdom%>"
                            data-chaRace="<%=race.race_charisma%>"
                            data-descRace="<%=race.race_description%>"
                            data-traitsRace="<%=race.race_traits%>">
                        <%=race.race_name%> </option>
                <% }); %>
            </select><br>
            <sup> Race</sup>
        </div>

        <div class="detail">
            <input type="number" id="level" name="level" value="<%=character[0].level%>"><br>
            <sup> Level</sup>
        </div>

        <div class="detail">
            <input type="text" id="background" name="background" value="<%=character[0].background%>"><br>
            <sup> Background</sup>
        </div>

        <div class="detail">
            <input type="text" id="alignment" name="alignment" value="<%=character[0].alignment%>"><br>
            <sup> Alignment</sup>
        </div>

        <div class="detail">
            <input type="text" id="deity" name="deity" value="<%=character[0].deity%>"><br>
            <sup> Deity</sup>
        </div>

        <div class="detail">
            <input type="text" id="age" name="age" value="<%=character[0].age%>"><br>
            <sup> Age</sup>
        </div>

        <div class="detail">
            <input type="text" id="height" name="height" value="<%=character[0].height%>"><br>
            <sup> Height</sup>
        </div>

        <div class="detail">
            <input type="text" id="weight" name="weight" value="<%=character[0].weight%>"><br>
            <sup> Weight</sup>
        </div>

        <div class="detail">
            <input type="radio" name="gender" id="male"  value="male"> <label for="male"> Male  </label>
            <input type="radio" name="gender" id="female" value="female"> <label for="female"> Female  </label>
            <input type="radio" name="gender" id="other" value="other"> <label for="other"> Other  </label> <br>
            <sup> Gender</sup>
        </div>
    </div>

    <hr><br>

    <div id="abilityScores">
        <h3>Ability Scores</h3>

        <table class="abilityScoreTable" name="abilityScoreTable">
            <tr>
                <th></th>
                <th>Base</th>
                <th>Racial Bonus</th>
                <th>Total</th>
                <th>Modifier</th>
            </tr>
            <tr>
                <th>Str</td>
                <td> <input class="scoreBase" type="number" id="strScore" name="strScore" value="<%=character[0].strength%>"> </td>
                <td id="strRace" name="strRace"> </td>
                <td id="strTotal" name="strTotal"> </td>
                <td id="strMod"> </td>
            </tr>
            <tr>
                <th>Dex</td>
                <td> <input class="scoreBase" type="number" id="dexScore" name="dexScore" value="<%=character[0].dexterity%>"> </td>
                <td id="dexRace" name="dexRace"> </td>
                <td id="dexTotal" name="dexTotal"> </td>
                <td id="dexMod"> </td>
            </tr>
            <tr>
                <th>Con</td>
                <td> <input class="scoreBase" type="number" id="conScore" name="conScore" value="<%=character[0].constitution%>"> </td>
                <td id="conRace" name="conRace"> </td>
                <td id="conTotal" name="conTotal"> </td>
                <td id="conMod"> </td>
            </tr>
            <tr>
                <th>Int</td>
                <td> <input class="scoreBase" type="number" id="intScore" name="intScore" value="<%=character[0].intelligence%>"> </td>
                <td id="intRace" name="intRace"> </td>
                <td id="intTotal" name="intTotal"> </td>
                <td id="intMod"> </td>
            </tr>
            <tr>
                <th>Wis</td>
                <td> <input class="scoreBase" type="number" id="wisScore" name="wisScore" value="<%=character[0].wisdom%>"> </td>
                <td id="wisRace" name="wisRace"> </td>
                <td id="wisTotal" name="wisTotal"> </td>
                <td id="wisMod"> </td>
            </tr>
            <tr>
                <th>Cha</td>
                <td> <input class="scoreBase" type="number" id="chaScore" name="chaScore" value="<%=character[0].charisma%>"> </td>
                <td id="chaRace" name="chaRace"> </td>
                <td id="chaTotal" name="chaTotal"> </td>
                <td id="chaMod"> <</td>
            </tr>
        </table>
    </div><br>

    <table class="miscTraits" id="miscTraits">
        <tr></tr>
        <tr>
            <th id="raceName"></th>
            <th id="className"></th>
        </tr>
        <tr>
            <td id="raceDesc"></td>
            <td id="classDesc"></td>
        </tr>
        <tr>
            <td> <br> </td>
            <td> <br> </td>
        </tr>
        <tr>
            <td id="raceTraits"></td>
            <td id="classHD"></td>
        </tr>
        <tr>
            <td></td>
            <td id="classPrimAbi"></td>
        </tr>
        <tr>
            <td></td>
            <td id="classSaves"></td>
        </tr>
    </table><br>

    <div id="editCharSubmit">          
    <br><button>Save</button><br>
    <br><a href="/user">Home</a>
    </div>

  <% if (typeof message != "undefined") { %>
        <h3><%=message%></h3>
    <% } %>

    <script src="/js/characterSheet.js"></script>

</form>

<%- include('partials/footer.ejs') %>
</body>


</html>